[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # Missing class docstring
    C0116, # Missing function or method docstring
    W0511, # allow TODO's
    R0201, # Method could be a function
    C0103, # Constant name "..." doesn't conform to UPPER_CASE naming style (invalid-name)
ignore=migrations
ignored-classes=SQLObject,Registrant,scoped_session,SQLAlchemy
