version: '3.4'
services:
    chotuve_auth:
        network_mode: host
        image: python:3.8.3
        volumes:
            - ../..:/var/www/app
            - chotuve_pip_cache:/root
        environment:
            # Flask
            STATIC_URL: "/static"
            STATIC_PATH: "/var/www/app/app/static"
            FLASK_APP: "app"
            FLASK_ENV: "development"
            FLASK_RUN_PORT: 26080
            JWT_SECRET_KEY: ${JWT_SECRET_KEY:-}
            CHOTUVE_AUTH_ADMIN_USUARIO: ${CHOTUVE_AUTH_ADMIN_USUARIO:-}
            CHOTUVE_AUTH_ADMIN_CLAVE: ${CHOTUVE_AUTH_ADMIN_CLAVE:-}

            DATABASE_URL: "postgres://chotuve_auth:chotuve_auth@localhost:26032/chotuve_auth"

            # Avoid Python cache in src directory
            # [Python <3.8] PYTHONDONTWRITEBYTECODE: 1
            PYTHONPYCACHEPREFIX: "/tmp/app"

            # Travis CI / Coveralls
            CI: ${CI:-}
            COVERALLS_REPO_TOKEN: ${COVERALLS_REPO_TOKEN:-}
            TRAVIS: ${TRAVIS:-}
            TRAVIS_BRANCH: ${TRAVIS_BRANCH:-}
            TRAVIS_COMMIT: ${TRAVIS_COMMIT:-}
            TRAVIS_JOB_ID: ${TRAVIS_JOB_ID:-}
            TRAVIS_JOB_NUMBER: ${TRAVIS_JOB_NUMBER:-}
            TRAVIS_OS_NAME: ${TRAVIS_OS_NAME:-}
            TRAVIS_PULL_REQUEST: ${TRAVIS_PULL_REQUEST:-}
            TRAVIS_PULL_REQUEST_SHA: ${TRAVIS_PULL_REQUEST_SHA:-}
            TRAVIS_REPO_SLUG: ${TRAVIS_REPO_SLUG:-}
            TRAVIS_TAG: ${TRAVIS_TAG:-}

        working_dir: /var/www/app
        command: bash /var/www/app/bin/chotuve_auth_dev/start.sh
    chotuve_auth_db:
        image: postgres
        environment:
            POSTGRES_DB: chotuve_auth
            POSTGRES_USER: chotuve_auth
            POSTGRES_PASSWORD: chotuve_auth
        ports:
            - 26032:5432
        volumes:
            - chotuve_auth_db_data:/var/lib/postgresql/data
volumes:
    chotuve_auth_db_data:
    chotuve_pip_cache:
        name: chotuve_pip_cache
